
       
  
    /* Original Dimensions - Navbar text 38px, color (none) font-times new romans (no margin left was there prior) spacing needs to be adjusted accordingly */
  
  
    

 
  
  .row{
    width: 100%;

  }
  .column {
    float: left;
    width: 20%;
    padding: 5px;
    
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
    
    
  }
  
    
#row2{
  padding: 10px;
  padding: right 0px; ;

}
#properties{
  margin-top: 10px;
}


#col2{
  text-align: center;
 
}




 .rec{
  border-radius: 25px;
  height: 700px;
  width: 50%;
  background-color: black;
  opacity: 85%;
  position: relative;
  left: 25%;
  top: 100%;
  
}











#myCarousel{
  padding: 0%;
  width: 100%;
  max-width: 100%;
}

#paratext{
  color: white;
  font-size: 28px;
  text-align: center;
  font-family: "Raleway";
  line-height: 200%;
  position: absolute;
  top: 30%;
  padding: px;
}
#paratitle{
  color: white;
  font-size: 54px;
  text-align: center;
  font-family: "Raleway";
  padding: 10px;
}


#form{
  width: 100%;
  position: relative;
margin-top: 100px;

}


/* Style the navbar links */
#navb a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  opacity: 0%;
}
#frame{
  height: 500px;
  width: 100%;
  
}
#palimage{
  opacity: 15%;
 position: relative;
 display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  width: 550px;
 

  
  
}






.carousel-caption{
  background-color: black;
  opacity: 85%;
  font-family: "Raleway";
}
/* Renting VS Buying Iframe */
#get{
  width: 100%;
  height: 5270px;
  position: relative;
  top: -190px;
  margin-top: 100px;


  
  
}
/* #form{
  width: 100%;
  position: relative;
margin-top: 100px; } */

/* Renting Calc Iframe Margins*/
#calc{
  margin-top: 82px;
}

/* 71 Wallace and 121 Talbot Iframe */
#maps{
  width: 100%;
  height: 1000px;
  margin-top: 0px;
 
}
/* Navbar Styles */
.navbar-toggler{
  
  position: relative;
  right: 40%;
}
.verytop{
    background-color:#131618;
    opacity: 100%;
    position: relative;

   
}
#navitext{
    opacity: 100%;
    line-height: 40px;
    
}
/* Carousel */
.carousel-item{
    width:100%;
    height: 780px;
}
#veryverytop{
    background-color:#131618;
    opacity: 100%;
}
/* Body Background */
#black{
    background-color:#131618 ;
}

/* Linked Images */
    .propimage{
        height: 500px;
        width: auto;
        border: none;
        margin-top: 10px;
    }
  /* Logo On top */
    #logoverytop{
    margin-top: 0px;
   }
   /* Footer Css */
   @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #131618;
  height: 55vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  
  margin-top: 100px;
  margin-left: 50px;
 
  
}


.footer-distributed{
	background: #131618;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 35px;  
 
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
    margin-top: -5%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin-top: 5px;
}

.footer-distributed h3 span{
	color:  #054931;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin-top: -20%;
	padding-top: 50px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #054931;
	font-size: 14px;
	font-weight: normal;
	margin: 0 ;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
    margin-top: 0px;
    padding-left: 50px;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 20px 30px ;
    margin-left: 30px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin-left: 10px;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #054931;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 10px;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  white;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* map css */
body {
    font-family: "Lato", sans-serif;
    
  }
  /* Navbar Css */
  #waves{
      margin-top: -100px;
  }
  #waves1{
     position: relative;
      bottom: 0px;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: rgb(48, 46, 46); */
    background-color: #131618;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow: hidden; /* Hide scrollbars */
    opacity: 98%;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
   color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #054931;
  }
  
  .sidebar .closebtn {
    position: absolute;
    margin-top: px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 60px;
    cursor: pointer;
    background-color: #131618;
    color: white;
    position: relative;
    left: 90%;
    border: none;
    margin-top: 40px;
    
  }
  
  .openbtn:hover {
    background-color: none;
  }
  
  #main {
    transition: margin-left .5s;
    padding: px;
    width:100px;
  }
  
  
  #buon{
    color: #054931;
    font-size: 88px;
  }
  #row2{
    width: 100%;
    height: 33%;
  }
  
 
    
      
        

/* Body Css */
#dlack{
    background-color: #131618;
}

  .gradient{
    background-color: #054931;
  }
  .text-center{
    color: white;
  }
  /* Button CSS */
 

.text-box {
    margin-left: 40vw;
   margin-top: 10vh;
   margin-bottom: 20vh;
   
 position: relative;
 display: block;
  
  margin-top: -150px;
 
   
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}
/* Button CSS */
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0)
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
}

.btn-white {
    background-color: #131618;
    color: #054931;
    border: 10px;
    border-color: #054931;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #33383b;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
/* Properties Page Button */
.box{
  margin-left: 40vw;
   margin-top: 2vh;
   margin-bottom: 2vh;
}
#homeimage{
  margin-top: 50px;
}
#drop{
  background-color: #131618;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }